<div class="row">
        <div class="col s12 m4">
          <div class="card {% include colour2.html%} z-depth-1">
            <div class="card-content {% include colour2.html%}">
	     <span class="card-title">Preferred Methods</span>
<p>Email: <a href="mailto:ngniusness@gmail.com" target="blank">ngniusness@gmail.com</a> <br>
Discord: NGnius#0864 <br> Steam: <a href="http://steamcommunity.com/id/NGnius" target="blank">NGnius(ness)</a></p>
            </div>
          </div>
        </div>
 <div class="col s12 m4">
  <div class="card {% include colour2.html%} z-depth-1">
   <div class="card-content {% include colour2.html%}">
    <span class="card-title">Robocraft Hangouts</span>
<p>Robocraft Forums: <br>
<a href=http://robocraftgame.com/forums/forum/robocraft-discussions/tech-support-bugs-issues-feedback/>Community Technical Help (Robocraft)</a><br>
<a href=https://steamcommunity.com/app/301520/discussions/5/>Community Technical Help (Steam)</a><br>
Discord Server: <a href=https://discord.gg/0pQstaiRuPno5wRg>Technologists Clan</a><br>
Discord Server: <a href=https://discord.gg/cyKTEH6>Robocraft Moderators</a>

   </div>
  </div>
 </div>
<div class="col s12 m4">
  <div class="card {% include colour2.html%} z-depth-1">
   <div class="card-content {% include colour2.html%}">
    <span class="card-title">Other Media</span>
<p>Twitter: <a href=https://twitter.com/NGniusness>@NGniusness</a><br>
GitHub: <a href=https://github.com/NGnius>NGnius</a><br>
Youtube: <a href=https://www.youtube.com/channel/UCfom55Z0od2VYS3qwQetkyA>NGnius</a>
</p>
   </div>
  </div>
 </div>
</div>
