<!DOCTYPE html>
<html>

<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<title>{{ page.title }}</title>

<body>
 <nav class="z-depth-0">
   <div class="nav-wrapper {% include colour1.html%}">
     <a href="/"><img src="/Logo64x64.png" class="brand-logo center"></a>
     <ul id="nav-mobile" class="left">
	{% include sidebar.html %}
	{% for item in site.data.topleftnavbar %}
        <li class="hide-on-med-and-down"><a href={{item.url}}>{{item.title}}</a></li>
	{% endfor %}
     </ul>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
	{% for item in site.data.toprightnavbar %}
        <li><a href={{item.url}}>{{item.title}}</a></li>
	{% endfor %}
     </ul>
   </div>
 </nav>
 {{content}}
 {% include contactinfosmall.html %}
 </div>
 {% include footer.html %}
</body>
</html>
